@import "reset.css";

:root {
  scroll-behavior: smooth;
  touch-action: pan-y;
  /* overflow-x: clip; */
  color-scheme: light dark;
}

@media (prefers-reduced-motion: no-preference) {
  html { interpolate-size: allow-keywords }
}

body {
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
}

a {
  /* all: unset; */
  text-decoration: none;
  color: inherit;
}

/*:not([role=graphics-symbol]) */
svg:not([class*=icon]), iframe, embed {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

@font-face {
  font-display: swap;
  font-family: Metropolis;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/metropolis@latest/latin-400-normal.woff2) format(woff2);
}

:root {
  --color-black: #0d0d0d; /*: #09090b; /*: hsl(from black h s 90%); */
  /* --color-white: whitesmoke; /*: gainsboro; /*: ghostwhite; /*: snow; /* #f5f5f5; */
  /* --color-grey: #aaa; */

  /* --color-brand-npm: #cb3837; TODO! */
  --color-brand-youtube: #ff0033;
  /* --color-brand-vimeo: #17d5ff; */
  --color-brand-algora: #611fd2;
  --color-brand-gitranks: #c5b4f6;
  --color-brand-lucide: #f56565;
  --color-brand-bluesky: #0085ff;
  /*
  --color-brand-vimeo: #1ab7ea;
  --color-brand-twitter: #55acee;
  --color-brand-behance: #1769ff;
  */
  --color-brand-pinterest: #bd081c;

  --color-current-invert: rgb(from currentcolor calc(255 - r) calc(255 - g) calc(255 - b));

  --color-background: light-dark(whitesmoke, var(--color-black));

  --corner-rounded: 0.5rem;

  --spacing: 1rem;

  --time: 1s;
  --time-hover: calc(var(--time) / 4);
  --ease: cubic-bezier(0.5, 0, 0.5, 1); /*: ease-in-out; */

  --stroke-width: 2;
  /* --hover-cursor: none; */
}

body {
  /*display: flex;
  flex-direction: column;
  place-content: center;*/
  font-family: Gotham, Metropolis, sans-serif;
  background-color: var(--color-background);
}

/*a[href] { transition: all var(--time) var(--ease) }*/

svg {
  * {
    transform-box: fill-box; /*: border-box; */
    transform-origin: center;
  }
  g { transform-box: view-box }
}

svg.icon {
  width: 1.5rem; /*: 24px; */
  height: auto;
  fill: none;
  stroke: currentcolor;
  stroke-width: var(--stroke-width);
  stroke-linecap: round;
  stroke-linejoin: round;

  /* FIXME
  rect.pointer {
    width:  100%;
    height: 100%;
  }
  circle.pointer {
    cx: 50%;
    cy: 50%;
    r:  50%;
  }*/

  path:not([d$=z i]) { transform-box: stroke-box }
  path[pathLength] { stroke-dasharray: 100 }
}

/*
@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
  }
}*/

/*
_::-webkit-full-page-media, _:future, :root * {
  fill: white;
  mix-blend-mode: difference;
}*/
